/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache
!bootstrap/cache/.gitkeep
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
!storage/logs/.gitkeep
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

/storage/framework/views/*.php
/storage/framework/cache/data
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/views/.gitkeep
